[Unit]
Description=VRCd2 Discord Bot Service
After=network.target

[Service]
Type=simple
User=vincentc
WorkingDirectory=/home/vincentc/Projects/VRCd2
ExecStart=/usr/bin/npm start
Restart=on-failure
RestartSec=5
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
